.home_one{
	background: url(/images/index/bg-index.jpg) top center no-repeat;
	
	background-size:100%;
	border-bottom:none;
	min-height:800px;
	position:relative;
}

ul li{
	
	list-style-type:none;/* li去掉黑点 */
	float:left;/* li变横向 */
	margin:40px 0 0 0;
	min-width:100px; 
	color: #303030;	
}

.home_two{
	margin:0 auto;
	width:15%;
	height:100px;
	/* background-color:#DCDCDC; */
}

body a{
	text-decoration: none;	/* a标签去掉下划线 */
}





.footer {
    height: 200px;
    width:100%;
    background-color: #1f2738;
    border-top: 1px solid #d9e3ed;
    line-height: 1;
    position:absolute;bottom:0;
}
.footer .links {
    text-align: center;
    margin-top: 34px;
    font-size: 14px;
}
.footer .declare {
    text-align: center;
    color: #7e8187;
    margin-top: 16px;
    font-size: 12px;
}
.footer .declare {
    text-align: center;
    color: #7e8187;
    margin-top: 16px;
    font-size: 12px;
}